* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #215c98;
    padding: 20px 0px;
}

header .head-log {
    text-decoration: none;
    font-weight: 700;
}


.input-search, .date-search{
    padding: 7px;
    border: 1px solid #0672d0;
}

.btn-submit {
    border-left: none;
    border: 1px solid #0672d0;
    padding: 6px 15px 8px 15px;
    background: #0672d0;
    color: #fff;
}

.csv-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
}

.csv-link:hover {
    color: #fff;
}

.back-link {
    text-decoration: none;
    float: right;
}

.back-link:hover {
    color: #fff;
}

/* login */
form .error {
    color: #ff0000;
  }


  /* report */
  .report-new a {
      text-decoration: none;
  }