
th{
    font-family: Century Gothic;
}
label{
    font-family: Century Gothic;
}

.add-new{
    margin-bottom: 15px;
}


/* Search Box*/
.search-box{
    float: right!important;
    margin-bottom: 15px!important;
    
}

.search-name{
    float: left!important;
}


/* CSV export */
.export-btn{
    float: right!important;
    padding-right: 10px;
}

/* pagination */
.pagination {
    float: right!important;
}