
th{
    font-family: Century Gothic;
}
label{
    font-family: Century Gothic;
}

.add-new{
    margin-bottom: 15px;
}


/* Search Box*/
.search-box{
    float: right!important;
    margin-bottom: 15px!important;
    
}

.search-name{
    float: left!important;
}


/* CSV export */
.export-btn{
    float: right!important;
    padding-right: 10px;
}

/* pagination */
.pagination {
    float: right!important;
}

.report-table thead tr {font-weight: bold}

.report-table tbody tr:nth-child(odd) {background: #f9f9f9}

.view-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin: 0px 0 20px;
}

.view-signin{
    padding: 15px 30px;
    margin: 20px 0;
    text-decoration: none;
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    color: #fff;
}
