images
config.php
pass_generate.php
testdata.php
admin/dist/img
admin/functions.php

login2.php
logout2.php
test.html

signups.php
signupActs.php

changePassAct2.php
user_manage/action.php

admin_old
user_manage_old

# templates for admin part
admin2

test