/admin/config
table.php
backup.js
index_backup.php
csv_export_old.php
signup_old.php

admin/view/admin/
user_lists_backup.php
user_edit_backup.php
user_create_backup.php

active-inactive-script.js
status_script.php
jquery-2.2.4.min.js

navslidebar.js